# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache directories
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# OS-specific files
.DS_Store

# Environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor / IDE specific
.vscode/
.idea/